@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<div class="">

    <div class="card">
        <div class="card-header">
            Busqueda
        </div>
        <div class="card-body">
            <partial name="_Busqueda" />
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Datos del cliente
        </div>
        <div class="card-body">
            <partial name="_DatosCliente" />           
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Datos de la poliza
        </div>
        <div class="card-body">
            <partial name="_DatosPoliza" />
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Coberturas de la poliza
        </div>
        <div class="card-body">
            <partial name="_Coberturas" />
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/site.js" asp-append-version="true" type="module"></script>
<script src="~/js/moment.js" asp-append-version="true"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

}
